.idea
node_modules
network/admin
network/testchannel/naukma_create.pb
network/testchannel/msp
network/naukma.block
network/ca/data/msp
network/ca/data/ca-cert.pem
network/ca/data/IssuerPublicKey
network/ca/data/IssuerRevocationPublicKey
network/orderer/data/chains
network/orderer/data/index
network/orderer/data/msp
network/peer/data/chaincodes
network/peer/data/ledgersData
network/peer/data/msp
network/peer/data/transientStore
bin
config
server/package-lock.json
