.idea
node_modules

network/ca/msp
network/ca/ca-cert.pem
network/ca/fabric-ca-server.db
network/ca/IssuerPublicKey
network/ca/IssuerRevocationPublicKey

network/channel-artifacts/channel.tx
network/channel-artifacts/genesis.block
network/channel-artifacts/Org1MSPanchors.tx

network/crypto-config

bin
config
server/package-lock.json